In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn.preprocessing import MinMaxScaler

from geopy.geocoders import Nominatim

### Archivo CSV

In [2]:
dir_procesado = 'data/procesado/'
archivo = 'datos_crudos.csv'
df = pd.read_csv(f'{dir_procesado}{archivo}')

df.head(2)

,id,vendor,lat,lon,days_on_site,bathrooms,parking_lots,num_bedrooms,m2,final_price,price_square_meter
0,1,Investemx,19.421317,-99.164182,5.0,2.0,2,2.0,127.0,9000000.0,70866.141732
1,2,Avitana,19.421029,-99.163541,7.0,1.0,1,1.0,54.0,4264000.0,78962.962963

### Columna "vendor"

In [3]:
df_col = df.groupby('vendor').agg({'id':'count'})
df_col.reset_index(drop=False, inplace=True)
df_col.sort_values(['id'], ascending=False, inplace=True)

total_col = df_col['id'].sum()
df_col['total_porcentaje'] = df_col['id'].apply(lambda x: x/total_col*100)
df_col['total_porcentaje_acumulado'] = df_col['total_porcentaje'].cumsum()

In [4]:
df_col.head(10)

,vendor,id,total_porcentaje,total_porcentaje_acumulado
94,Metros Cuadrados Expertos,115,11.758691,11.758691
124,Rent A House Cdmx,111,11.349693,23.108384
13,Buscatuhogarmexico,95,9.713701,32.822086
11,Bienesraiceslomelin,42,4.294479,37.116564
74,Houm,39,3.987730,41.104294
140,Zona Ryg,36,3.680982,44.785276
2,Airnetwork Asesores Inmob,31,3.169734,47.955010
1,Aire Y Acero Inmobiliaria,31,3.169734,51.124744
76,Incitybienesraices,27,2.760736,53.885481
41,Consultores Patrimoniales,26,2.658487,56.543967

In [5]:
lista_col = df_col['vendor'].values[:5]
lista_col

array(['Metros Cuadrados Expertos', 'Rent A House Cdmx',
       'Buscatuhogarmexico', 'Bienesraiceslomelin', 'Houm'], dtype=object)

### Conjunto de datos para modelo

In [6]:
df_modelo = df.copy()
df_modelo['vendor_mod'] = df_modelo['vendor'].apply(lambda x: x if x in lista_col else 'otros')

In [7]:
df_modelo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  978 non-null    int64
 1   vendor              978 non-null    object
 2   lat                 978 non-null    float64
 3   lon                 978 non-null    float64
 4   days_on_site        978 non-null    float64
 5   bathrooms           978 non-null    float64
 6   parking_lots        978 non-null    int64
 7   num_bedrooms        978 non-null    float64
 8   m2                  978 non-null    float64
 9   final_price         978 non-null    float64
 10  price_square_meter  978 non-null    float64
 11  vendor_mod          978 non-null    object
dtypes: float64(8), int64(2), object(2)
memory usage: 91.8+ KB

### One Hot Encoder

In [8]:
df_ohe = pd.get_dummies(df_modelo, columns=['vendor_mod'])
df_ohe.head(3)

,id,vendor,lat,lon,days_on_site,bathrooms,parking_lots,num_bedrooms,m2,final_price,price_square_meter,vendor_mod_Bienesraiceslomelin,vendor_mod_Buscatuhogarmexico,vendor_mod_Houm,vendor_mod_Metros Cuadrados Expertos,vendor_mod_Rent A House Cdmx,vendor_mod_otros
0,1,Investemx,19.421317,-99.164182,5.0,2.0,2,2.0,127.0,9000000.0,70866.141732,0,0,0,0,0,1
1,2,Avitana,19.421029,-99.163541,7.0,1.0,1,1.0,54.0,4264000.0,78962.962963,0,0,0,0,0,1
2,3,Ebranuncios,19.407814,-99.161872,4.0,3.0,2,3.0,163.0,8093500.0,49653.374233,0,0,0,0,0,1

### Conjunto de datos para modelo X^2

In [9]:
lista_x2 = [
    'days_on_site',
    'bathrooms',
    'parking_lots',
    'num_bedrooms',
    'm2']

In [10]:
df_sq = df_ohe.copy()
for col in lista_x2:
    df_sq[f'{col}_x2'] = df_sq[col].apply(lambda x: x**2)

In [11]:
df_sq.head(3)

,id,vendor,lat,lon,days_on_site,bathrooms,parking_lots,num_bedrooms,m2,final_price,...,vendor_mod_Buscatuhogarmexico,vendor_mod_Houm,vendor_mod_Metros Cuadrados Expertos,vendor_mod_Rent A House Cdmx,vendor_mod_otros,days_on_site_x2,bathrooms_x2,parking_lots_x2,num_bedrooms_x2,m2_x2
0,1,Investemx,19.421317,-99.164182,5.0,2.0,2,2.0,127.0,9000000.0,...,0,0,0,0,1,25.0,4.0,4,4.0,16129.0
1,2,Avitana,19.421029,-99.163541,7.0,1.0,1,1.0,54.0,4264000.0,...,0,0,0,0,1,49.0,1.0,1,1.0,2916.0
2,3,Ebranuncios,19.407814,-99.161872,4.0,3.0,2,3.0,163.0,8093500.0,...,0,0,0,0,1,16.0,9.0,4,9.0,26569.0

### Conjunto de datos escalado

In [12]:
df_sc = df_sq.copy()

lista_escala = [
    'days_on_site',
    'bathrooms',
    'parking_lots',
    'num_bedrooms',
    'm2',
    'days_on_site_x2',
    'bathrooms_x2',
    'parking_lots_x2',
    'num_bedrooms_x2',
    'm2_x2']

for col in lista_escala:
    scaler = MinMaxScaler()
    df_sc[f'{col}_sc'] = scaler.fit_transform(df_sc[[col]])

In [13]:
df_sc.head(3)

,id,vendor,lat,lon,days_on_site,bathrooms,parking_lots,num_bedrooms,m2,final_price,...,days_on_site_sc,bathrooms_sc,parking_lots_sc,num_bedrooms_sc,m2_sc,days_on_site_x2_sc,bathrooms_x2_sc,parking_lots_x2_sc,num_bedrooms_x2_sc,m2_x2_sc
0,1,Investemx,19.421317,-99.164182,5.0,2.0,2,2.0,127.0,9000000.0,...,0.005487,0.045455,0.5,0.333333,0.366412,0.000045,0.005682,0.375,0.200000,0.178682
1,2,Avitana,19.421029,-99.163541,7.0,1.0,1,1.0,54.0,4264000.0,...,0.008230,0.000000,0.0,0.000000,0.087786,0.000090,0.000000,0.000,0.000000,0.023030
2,3,Ebranuncios,19.407814,-99.161872,4.0,3.0,2,3.0,163.0,8093500.0,...,0.004115,0.090909,0.5,0.666667,0.503817,0.000028,0.015152,0.375,0.533333,0.301668

### Dirección Lat-Lon

In [14]:
geolocator = Nominatim(user_agent="reto_dd3")

In [15]:
df_address = df_sc.copy()

In [16]:
df_address['ciudad'] = df_address[['lat', 'lon']]\
    .apply(lambda x: geolocator.reverse((x[0], x[1])).raw['address']['city'], axis=1)

In [17]:
# def get_colonia(lat, lon):
#     colonia = np.nan
#     try:
#         colonia = geolocator.reverse((lat, lon)).raw['address']['neighbourhood']
#     except:
#         colonia = np.nan
#     return colonia


# df_address['colonia'] = df_address[['lat', 'lon']].apply(lambda x: get_colonia(x[0], x[1]), axis=1)

# df_address['colonia_mod'] = df_address[['colonia', 'ciudad']].apply(lambda x: x[0] if str(x[0])!='nan' else x[1], axis=1)

In [18]:
def get_codigo_postal(lat, lon):
    valor = np.nan
    try:
        valor = geolocator.reverse((lat, lon)).raw['address']['postcode']
    except:
        valor = np.nan
    return valor


df_address['codigo_postal'] = df_address[['lat', 'lon']].apply(lambda x: get_codigo_postal(x[0], x[1]), axis=1)

In [19]:
df_address.head(3)

,id,vendor,lat,lon,days_on_site,bathrooms,parking_lots,num_bedrooms,m2,final_price,...,parking_lots_sc,num_bedrooms_sc,m2_sc,days_on_site_x2_sc,bathrooms_x2_sc,parking_lots_x2_sc,num_bedrooms_x2_sc,m2_x2_sc,ciudad,codigo_postal
0,1,Investemx,19.421317,-99.164182,5.0,2.0,2,2.0,127.0,9000000.0,...,0.5,0.333333,0.366412,0.000045,0.005682,0.375,0.200000,0.178682,Ciudad de México,06700
1,2,Avitana,19.421029,-99.163541,7.0,1.0,1,1.0,54.0,4264000.0,...,0.0,0.000000,0.087786,0.000090,0.000000,0.000,0.000000,0.023030,Ciudad de México,06700
2,3,Ebranuncios,19.407814,-99.161872,4.0,3.0,2,3.0,163.0,8093500.0,...,0.5,0.666667,0.503817,0.000028,0.015152,0.375,0.533333,0.301668,Ciudad de México,06760

### Dirección One Hot Encoder

In [20]:
df_address_cp = df_address.copy()

In [21]:
df_temp_cp = df_address_cp.groupby('codigo_postal').agg({'id':'count'})
df_temp_cp.reset_index(drop=False, inplace=True)
df_temp_cp.sort_values(['id'], ascending=False, inplace=True)

total_col = df_temp_cp['id'].sum()
df_temp_cp['total_porcentaje'] = df_temp_cp['id'].apply(lambda x: x/total_col*100)
df_temp_cp['total_porcentaje_acumulado'] = df_temp_cp['total_porcentaje'].cumsum()

In [22]:
df_temp_cp.head(3)

   codigo_postal   id  total_porcentaje  total_porcentaje_acumulado
13         06700  549         57.247132                   57.247132
15         06760  311         32.429614                   89.676747
20         64700   33          3.441084                   93.117831

In [23]:
lista_cp = df_temp_cp['codigo_postal'].values[:2]
lista_cp

array(['06700', '06760'], dtype=object)

In [24]:
df_address_cp['codigo_postal_mod'] = df_address_cp['codigo_postal'].apply(lambda x: x if x in lista_cp else 'otro_cp')

In [25]:
df_address_cp.head(2)

,id,vendor,lat,lon,days_on_site,bathrooms,parking_lots,num_bedrooms,m2,final_price,...,num_bedrooms_sc,m2_sc,days_on_site_x2_sc,bathrooms_x2_sc,parking_lots_x2_sc,num_bedrooms_x2_sc,m2_x2_sc,ciudad,codigo_postal,codigo_postal_mod
0,1,Investemx,19.421317,-99.164182,5.0,2.0,2,2.0,127.0,9000000.0,...,0.333333,0.366412,0.000045,0.005682,0.375,0.2,0.178682,Ciudad de México,06700,06700
1,2,Avitana,19.421029,-99.163541,7.0,1.0,1,1.0,54.0,4264000.0,...,0.000000,0.087786,0.000090,0.000000,0.000,0.0,0.023030,Ciudad de México,06700,06700

In [26]:
df_address_cp_ohe = pd.get_dummies(df_address_cp, columns=['codigo_postal_mod'])
df_address_cp_ohe.head(3)

,id,vendor,lat,lon,days_on_site,bathrooms,parking_lots,num_bedrooms,m2,final_price,...,days_on_site_x2_sc,bathrooms_x2_sc,parking_lots_x2_sc,num_bedrooms_x2_sc,m2_x2_sc,ciudad,codigo_postal,codigo_postal_mod_06700,codigo_postal_mod_06760,codigo_postal_mod_otro_cp
0,1,Investemx,19.421317,-99.164182,5.0,2.0,2,2.0,127.0,9000000.0,...,0.000045,0.005682,0.375,0.200000,0.178682,Ciudad de México,06700,1,0,0
1,2,Avitana,19.421029,-99.163541,7.0,1.0,1,1.0,54.0,4264000.0,...,0.000090,0.000000,0.000,0.000000,0.023030,Ciudad de México,06700,1,0,0
2,3,Ebranuncios,19.407814,-99.161872,4.0,3.0,2,3.0,163.0,8093500.0,...,0.000028,0.015152,0.375,0.533333,0.301668,Ciudad de México,06760,0,1,0

### Almacenamiento

In [27]:
df_almacenamiento = df_address_cp_ohe.copy()
dir_almacenamiento = 'data/procesado/'
archivo_almacenamiento = 'datos_latitud_longitud.csv'
df_almacenamiento.to_csv(f'{dir_almacenamiento}{archivo_almacenamiento}', index=False)
print(archivo_almacenamiento)

datos_latitud_longitud.csv